// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Color system
//

$footer-color: #f6f6f6;
$black-color: #0a0a0a;
$grey: #424147;
$primary: #ffb60f;
$main-color: #ffb60f;
$white-color: #fff;
$red-color: #672100;
$lightgrey:rgba(229, 226, 211,0.5);
$black-background: #0a0a0a;
$white: #fff;
$nk:rgba(0, 0, 0,0);



